.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-wrapper {
  display: none;
}

.loader-wrapper {
  display: flex;
  margin: 20px 0;
  height: 80px;
}

.confirmation-wrapper {
  display: none;
  margin: 20px 0;
  height: 80px;
}
